*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background-color: #c2e7f8fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 16px;
    width: 100%;
  }

  .logout{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    width: 100px;
    color: #2eb9fafb;
    font-weight: 700;
    cursor: pointer;
    transition: .6s;
    margin-bottom: 10px;
    width: 100px;
    position: fixed;
    top: 15px;
    left: 15px;
  }

.formTimerShower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    font-family: Arial;
    font-size: 24px;
}

h2{
    font-family: Arial;
    font-size: 18px;
}

input{
    padding: 8px;
    border-radius: 8px;
    border: none;
    text-align: center;
    width: 50%;
}

input::placeholder{
    text-align: center;
}

.btnSubmitTimer{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #2eb9fafb;
    width: 50%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .6s;
}

.btnSubmitTimer:hover{
    background-color: #fff;
    color: #2eb9fafb;
    transform: scale(1.2);
}

#cronometro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#cronometro ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#cronometro li {
    margin-right: 10px; 
}

#botoes{
    display: flex;
    justify-content: center;
    width: 100%;
}

#start {
    width: 40%;
    padding: 8px;
    margin-right: 10px;
    background-color: green;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
#pause{
    width: 40%;
    padding: 8px;
    margin-right: 10px;
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
#zerar{
    width: 40%;
    padding: 8px;
    margin-right: 10px;
    background-color: blue;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
#txt1{
display: inline-block;
background-color: rgba(194, 231, 248, 0.986);
text-align: center;
}
#txt2{
    display: inline-block;
    background-color: rgba(194, 231, 248, 0.986);
    text-align: center;
}
.btnActions{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    width: 100px;
    color: #2eb9fafb;
    font-weight: 700;
    cursor: pointer;
    transition: .6s;
    margin: 10px 0;
    width: 100px;
}

.btnActions:hover{
    transform: scale(1.2);
}

#logo{
    width: 100%;
      height: 200px;
      object-fit: contain
}

@media screen and (min-width: 768px) {
    #botoes{
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #botoes{
        width: 30%;
    }
}